      img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
  filter:brightness(75%);

}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

  

.maipoem{
  
  margin-left: 2rem;
  background-image: linear-gradient(rgba(89,16,16,0.7), rgba(216,216,216,0.5));
  color:white;
  text-align: center;
  font-weight: lighter;
  font-size: 1.2rem;
  margin-top: 0;
  margin-left: 0;
}

.heading{
  display: inline-block;
  width: 40vh;
  text-decoration: underline;
  padding-right: 4rem;

  color:white;
  font-style: italic;

}

@media (max-width:992px) { 

.heading{
  height: 100vh;
  padding-top: 5rem;
}

.maipoem{
  border-top:solid white 2px;
 
}
}

@media (min-width:992px){
  .maipoem{
    border-left:solid white 2px;
    
  }
}
